
<style>
  .container {  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 800px;
  gap: 5px 05px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "image theShort theLong iLike";
}

.image {  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 250px;
  gap: 0px 33px;
  grid-auto-flow: row;
  grid-template-areas:
    ".";
  grid-area: image;

}

.image > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.imageDesk > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.activityOne > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.activityTwo > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.activityThree > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.theShort {
display: grid; 
  grid-template-columns: 300px; 
  grid-template-rows: 300px 300px; 
  gap: 0px 0px; 
  grid-template-areas: 
    "info"
    "imageDesk"; 
  grid-area: theShort;
  }
  .info > p{
    padding: 25px;
  }

.theLong { display: grid; 
 display: grid; 
 grid-template-columns: 300px; 
  grid-template-rows: 300px 300px; 
  gap: 0px 0px; 
  grid-template-areas: 
    "bioOne"; 
  grid-area: theLong; 
  }

.bioOne > p{
    padding: 25px;
}
.iLike{
    display: grid; 
grid-template-columns: 300px; 
  grid-template-rows: 200px 150px 175px; 
  gap: 50px 0px; 
  grid-template-areas: 
    "activityOne"
    "activityTwo"
    "activityThree"; 
  grid-area: iLike; 
}

html, body , .container {
  height: 100%;
  margin: 0;
}
</style>



<div class="container">
    <div class="image">
        <img src="../images/myImg.png" alt="My Memeoji">
    </div>
    <div class="theShort">
        <div class="info">
        <h3>The Short</h3>
            <p>I am a programming student with a focus on application development and I also work for an airline company. I work out of a tiny room with a laptop and a chair.</p>
        </div>
        <div class="imageDesk">
            <img src="../images/desk.jpg" alt="desk">
        </div>

    </div>
    <div class="theLong">
        <div class="bioOne">
        <h3>The Long</h3>
        <p>I grew up in Rexdale, a neighborhood in Toronto, where the sound of sirens and gunshots was more common than birdsong. My early years were
        a struggle, as I navigated the narrow streets of the inner city, where hope was a rare commodity. Growing up in this
        tough neighborhood, I quickly learned the value of street smarts, but what set me apart was my unwavering passion for
        technology. While most kids in my neighborhood were playing basketball or involved in other street activities, I was glued to my
        computer. My fascination with technology was born out of necessity. The world beyond my neighborhood was accessible
        through a screen, and I was determined to explore it. I scavenged discarded electronics, taught myself how to code, and
        immersed myself in the digital world. I pursued a degree in Human Health Science right after highschool and after graduating I soon realized I want a future in technology. Now you can find me at georgian college trying to complete the Programming and Analysis advanced diploma</p>
        </div>
    </div>

    <div class="iLike">
        
        
        <div class="activityOne">
            <h2>More About Me</h3>
            <h3>This is my dog Sona</h3>
            <img src="../images/sona.jpg" alt="my dog">
        </div>
        <div class="activityOne">
            <h3>I enjoy biking every week</h3>
            <img src="../images/biking.jpeg" alt="biking">
        </div>
        <div class="activityOne">
            <h3>I love Swimming too</h3>
            <img src="../images/swimming.jpeg" alt="swimming">
        </div>

        

    </div>

</div>