<style>

.container-fluid {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
text-align: center;
}
.outer{
    padding: 300px;
    background: #ffffff url('../images/backgroundImage.jpg') center center/cover no-repeat;
    
    
}
</style>
<div class="outer">
    <div class="container-fluid">
         <div class="jumbotron">
            <h2>
                    WELCOME!
            </h2>
            <p>
                    Click Around to Explore what I am all about or Hit the contact button to reach out to me!
            </p>
        </div>
    </div>
</div>
