<style>

.container {  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 800px;
  grid-auto-rows: 1fr;
  gap: 5px 100px;
  grid-auto-flow: row;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "projectOne projectTwo projectThree projectFour";
}

.projectOne {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ".";
  grid-area: projectOne;
}

.projectTwo { display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ".";
    grid-area: projectTwo; }

.projectThree { display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ".";
    grid-area: projectThree; }

.projectFour { display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ".";
    grid-area: projectFour; }

.outer{
    padding: 100px;
}
.projectOne > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.projectTwo > img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.projectThree > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.projectFour > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.title > h2{
    text-align: center;
    align-items: center;
}
</style>



<div class="fullPage">
<div class="outer">
    
<div class="title">
    <h2>Projects I have Done</h2>
</div>
<div class="container">

    <div class="projectOne">
        <h3>Card Game Java</h3>
        <img src="../images/cardGame.png" alt="">
    </div>
    <div class="projectTwo">
        <h3>JavaScript Audio/Video website</h3>
        <img src="../images/seeSay.png" alt="">
    </div>
    <div class="projectThree">
        <h3>Dynamic Todo List</h3>
        <img src="../images/todoList.png" alt="">
    </div>
    <div class="projectFour">
        <h3>Crime News Search Engine Java</h3>
        <img src="../images/crimeNews.png" alt="">
    </div>
</div>

</div>

</div>